body {
  background-color: rgb(50, 62, 71);
  color: white;
}
header {
  height: 30px;
  background-color: #ccc;
  padding-top: 6px;
  color: lightslategray;
}
footer {
  height: 100px;
  color: rgb(40, 63, 87);
  background: linear-gradient(180deg, #ccc, rgb(50, 62, 71) 100%);
  padding-top: 30px;
  border-top: 5px solid lightslategray;
}
input {
  margin: 5px;
}
.about {
  display: flex;
  padding: 10px;
  margin: auto;
  max-width: 500px;
}
.slider-sm {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.slider-short {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.drop-down {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 340px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(19, 33, 44);
}

.link {
  flex-basis: calc(100% / 4 - 10px);
  background-color: rgb(63, 78, 90);
  text-decoration: none;
  padding: 5px;
  flex-grow: 1;
  color: white;
}
.active {
  background-color: rgb(37, 46, 53);
}

.active:hover,
.link:hover {
  background-color: burlywood;
  color: black;
  transform: scale(1.25);
  transition-duration: 0.5s;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 5px solid lightslategray;
}
.control-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 62, 83);
  padding: 5px;
  margin: auto;
}
.note-container-blk {
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  border-left: 5px solid rgb(39, 62, 83);
  border-right: 5px solid rgb(39, 62, 83);
  background-color: rgb(119, 135, 151);
  margin: auto;
}
.note-container-wht {
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(119, 135, 151);
  margin: auto;
  border-left: 5px solid rgb(39, 62, 83);
  border-right: 5px solid rgb(39, 62, 83);
  border-bottom: 5px solid rgb(39, 62, 83);
}
.input-container {
  margin: 5px;
}
.keyboard {
  width: 100%;
  background: linear-gradient(
    180deg,
    #ccc,
    lightslategray,
    rgb(127, 164, 192) 100%
  );
  padding-bottom: 10px;
}
.note-halfspace {
  height: 80px;
  width: 24px;
}
.note-space {
  height: 80px;
  width: 44px;
}
.note {
  height: 80px;
  width: 40px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 2px;
}
.note-blk {
  height: 80px;
  width: 40px;
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 2px;
}
.note-blk:active,
.note:active {
  background: rgb(106, 148, 91);
}
.form-hint {
  color: rgb(50, 62, 71);
  font-size: 12px;
  padding: 2px;
  margin: auto;
  border: 1px solid rgb(50, 62, 71);
  font-weight: bold;
}
.form-error {
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 101, 101);
  font-size: 12px;
  font-weight: bold;
  width: 320px;
  padding: 2px;
  border: 1px dashed rgb(50, 62, 71);
  border-radius: 5px;
}
.error {
  font-weight: bold;
}
