.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-container {
  height: 84px;
  width: 308px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightslategray;
  margin: auto;
}
.keyboard {
  width: 100%;
  background-color: lightsteelblue;
}
.note-halfspace {
  height: 80px;
  width: 24px;
}
.note-space {
  height: 80px;
  width: 44px;
}
.note {
  height: 80px;
  width: 40px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
}
.note-blk {
  height: 80px;
  width: 40px;
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
}
.note-blk:active,
.note:active {
  background: grey;
}
