body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ROUTE TRANSITIONS */
.fade-enter {
  opacity: 0;
  /* left: -100%; */
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  /* left: 0; */
  transition: opacity 1000ms ease-in;
}
